<body id="bodyBackground">
    <header class="px-12 py-4">
        <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold anchorLink pointer "><i class="fa fa-ticket"></i>NextStep</h1>
            <nav class="flex items-center space-x-5">
                <a href="#" class="font-bold hover:underline anchorLink">About</a>
                <a href="#" class="font-bold hover:underline anchorLink">Docs</a>
                <a href="#" class="font-bold hover:underline anchorLink">Contact</a>
                <button (click)="redirectTeste()" class="btnSign font-bold px-6 py-1 flex shadow items-center justify-center anchorLink">Sign
                    In</button>
                <i class="fa fa-bars fa-2x anchorLink" id="menuHeader"></i>
            </nav>
        </div>
    </header>
    <div class="max-w-7xl mx-auto px-4 py-8">
        <h1 class="flex justify-center font-bold text-7xl">Welcome.</h1>
        <div>
            <p class="font-bold">Organization changes</p>
            <p class="text-red-500 font-bold">Everything</p>
        </div>
        <img src="../../../assets/blue-abstract-gradient-wave-wallpaper.jpg" alt="imagem">
    </div>
</body>