<body id="bodyBackground">
    <header class="px-12 py-4">
        <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold anchorLink pointer"><i class="fa fa-ticket"></i>NextStep</h1>
            <nav class="flex items-center space-x-5">
                <a href="#" class="font-bold hover:underline anchorLink">About</a>
                <a href="#" class="font-bold hover:underline anchorLink">Docs</a>
                <a href="#" class="font-bold hover:underline anchorLink">Contact</a>
                <button class="btnSign font-bold px-10 py-1 rounded flex items-center justify-center anchorLink">Sign
                    In</button>
                <i class="fa fa-bars fa-2x anchorLink" id="menuHeader"></i>
            </nav>
        </div>
    </header>
    <div class="max-w-7xl mx-auto px-4 py-8">
        <h1 class="flex justify-center font-bold text-7xl">Welcome.</h1>
        <img src="" alt="">
    </div>
</body>